/*TASK2-2*/
h1.task2-2 {
    font-family: sans-serif;
}
p.task2-2 {
    font-family: serif;
}
a.task2-2 {
    color: darkgreen;
}
del.task2-2 {
    color: grey;
}
h2.task2-2 {
    text-align: left;
    font-family: sans-serif;
}
pre.task2-2 {
    font-family: monospace;
}

/*TASK-2-3*/

h3.task2-3 {
    color: rgba(0, 0, 139, 0.8)
}

pre.task2-3 {
    color: rgba(0, 0, 0, 0.5);
}


/*TASK-2-4*/

.task2-4 {
    background-color: #dcf5f5;
    background-image: url(cross.png);

}

#content {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: darkgrey;
}

#content2 {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: darkgrey;
}


/*TASK-2-5*/

.blue {
    color: blue;
}

.fancy {
    font-family: cursive;
}

/*TASK-2-6*/

.red-outline {
    outline-style: solid;
    outline-color: red;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

#red-border2 {
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-width: 0px;
    border-left-color: red;
    border-top-color: red;
    border-right-color: red;
    border-style: solid;
}

#blue-border2 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius:8px;
    border-style: solid;
    border-color: blue;
}

/*TASK-2-7*/

.outer-div {
    border:1px;
    border-style: solid;
    border-color: red;
    background-color: blue;

}

.inner-div {
    border:1px;
    border-style: solid;
    border-color: red;
    background-color: yellow;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    padding: 12px;
    width: 634px;
    height: 154px;
}

.right-text {
    text-align: right;
}

.outer-div2 {
    border:1px;
    border-style: solid;
    border-color: red;
    margin-top: 20px;
    background-color: blue;
}

.inner-div2 {
    border:1px;
    border-style: solid;
    border-color: red;
    background: yellow;
    padding: 12px;
    width: 374px;
    margin: auto;
}
