/*TASK2-2*/
h1.task2-2 {
    font-family: sans-serif;
}
p.task2-2 {
    font-family: serif;
}
a.task2-2 {
    color: darkgreen;
}
del.task2-2 {
    color: grey;
}
h2.task2-2 {
    text-align: left;
    font-family: sans-serif;
}
pre.task2-2 {
    font-family: monospace;
}
h3.task2-3 {
    color: rgba(0, 0, 139, 0.8)
}

/*TASK-2-3*/

